# Streamlit app dependencies
streamlit==1.25.0
matplotlib==3.7.2
seaborn==0.12.2
numpy==1.24.3
pandas==2.0.2
Pillow==9.5.0

# For handling chat uploads
urlextract==1.8.0

# Additional dependencies for helper functions
wordcloud==1.9.2
altair==5.0.1

# For Natural Language Processing
nltk==3.8.1

# For emoji analysis
emoji==2.8.0

# For interactive widgets and user interface
ipykernel==6.25.0
ipywidgets==8.0.7

# Optional utilities
scikit-learn==1.3.0

